#main-outlet {
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  background: #f3eff5;
}

body.has-sidebar-page #main-outlet {
  padding-left: 50px;
}

.d-header > .wrap { 
  padding-left: 20px;
  padding-right: 20px;
}