@font-face {
  font-family: "Helvetica";
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  src: url(#{$helveticaRegular2}) format("woff2"),
    url(#{$helveticaRegular}) format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  font-style: oblique;
  font-stretch: normal;
  font-weight: 400;
  src: url(#{$helveticaOblique2}) format("woff2"),
    url(#{helveticaOblique}) format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  src: url(#{$helveticaBold2}) format("woff2"),
    url(#{$helveticaBold}) format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-weight: 300;
  src: url(#{$helveticaLight2}) format("woff2"),
    url(#{$helveticaLight}) format("woff");
}

$font: Helvetica, Arial, sans-serif;

@function rem($font-size) {
  @return ($font-size / 15) + rem;
}

@mixin body {
  font-weight: 400;
  font-style: normal;
  font-size: rem(16);
  line-height: 1.5;
}

@mixin body-2 {
  font-weight: 400;
  font-style: normal;
  font-size: rem(14);
  line-height: 1.57143;
}

@mixin h4 {
  font-weight: 700;
  font-style: normal;
  font-size: rem(24);
  line-height: 1.33;
}

:root {
  --grey: #9694af;
  --lightest-grey: #dbdae4;
  --medium-grey: #605f71;
  --white: #fff;
  --d-sidebar-width: 19.25em;
  --topic-body-width: 720px;
  --topic-avatar-width: 50px;
  --topic-body-width-padding: 15px;
}

html,
body {
  font-family: $font !important;
}

#main-outlet-wrapper {
  gap: 0 !important;
  max-width: 100%;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  background: #fff;
}

.after-header {
  background: url(#{$herobg});
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 180px;
  margin-bottom: 50px;
}

#main-outlet {
  background: #f3eff5;
  margin: 0 !important;
  padding-top: 0 !important;

  .more-topics__container {
    margin-left: -20px;
    margin-right: -20px;

    @media (min-width: 1280px) {
      margin-left: -70px;
      margin-right: -70px;
    }
  }

  // body.has-sidebar-page & {
  //   @media (min-width: 1280px) {
  //     padding-left: 50px;

  //     .more-topics__container {
  //       margin-left: -50px;
  //     }
  //   }
  // }

  // #main-outlet-wrapper & {
  //   @media (min-width: 1280px) {
  //     padding-top: 50px;
  //   }
  // }
}

.container {
  // padding-left: 20px;
  // padding-right: 20px;

  // @media (min-width: 1280px) {
  //   padding-top: 0;
  //   padding-left: 70px;
  //   padding-right: 70px;
  // }

  padding-left: 12px;
  padding-right: 12px;

  @media (min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 1340px) {
    padding-top: 0;
    padding-left: calc(50% - 650px);
    padding-right: calc(50% - 650px);
  }
}

#main-container {
  padding: 0 !important;
}

.category {
  .after-header {
    display: none;
  }

  #main-outlet {
    background: #fff;
  }

  .d-header .title.title--minimized {
    display: none;
  }

  .extra-info-wrapper {
    margin: -7px 0;
    margin-right: 20px;
    padding: 0;
    height: auto;

    .header-title {
      font-weight: 700;
      font-style: normal;
      font-size: rem(20);
      line-height: 1.2;
      color: #fff;
    }
  }
}

.sidebar-wrapper {
  background: #e8e1eb;
  padding: 0;
}

.d-header > .wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100% !important;
  height: 60px;
  padding-left: 12px;
  padding-right: 12px;

  @media (min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 1340px) {
    padding: 14px 20px 14px 70px;
  }
  box-sizing: border-box;
}

.sidebar-sections {
  padding: 60px 20px 72px 70px !important;
  width: 100% !important;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

.sidebar-row {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.sidebar-footer-container {
  background: #e8e1eb;

  &:before {
    background: #e8e1eb !important;
  }
}

.sidebar-section-link-content-text {
  color: var(--dark-blue, #0b074e);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.topic-list-data {
  span {
    color: var(--grey, #9694af);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}

.topic-list-item,
tr {
  border-bottom: 1px solid var(--grey, #9694af);
}

.raw-topic-link {
  color: var(--dark-blue, #0b074e);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.topic-list-item.visited .topic-list-data a.title:not(.badge-notification) {
  color: var(--dark-blue, #0b074e);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.badge-wrapper.bullet {
  align-items: center;
  @include body-2;
}

.badge-wrapper.bullet .badge-category-parent-bg,
.badge-wrapper.bullet .badge-category-bg {
  border-radius: 0 !important;
  width: 10px;
  height: 10px;
}

.topic-list-data .category-name {
  color: var(--dark-blue, #0b074e);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.topic-list-data .number .post-activity {
  color: #000;
  /* h8 */
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.list-controls .combo-box .combo-box-header {
  display: flex;
  padding: 12px;
  align-items: center;
  border: 1px solid var(--royal-blue, #0029f4);

  .select-kit-header-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      fill: var(--royal-blue, #0029f4);
      font-size: 14px;
      font-weight: 900;
      line-height: 12px;
      padding-left: 0;
    }
  }

  .select-kit-selected-name .name {
    color: var(--royal-blue, #0029f4);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }
}

.list-controls .nav-pills > li {
  a {
    color: var(--dark-blue, #0b074e);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
}

.list-controls .nav-pills > li.active {
  a {
    box-shadow: 0px 2px 0 0 var(--yellow-tertiary, #f9d54b) !important;
  }
}

.list-controls .nav-pills > li a:hover {
  box-shadow: 0px 2px 0 0 var(--yellow-tertiary, #f9d54b) !important;
}

.btn-default.btn.btn-icon-text {
  display: flex;
  height: 40px;
  padding: 10px 50px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 10px;
  @include body-2;
  color: #fff;
  border: 1px solid var(--royal-blue, #0029f4) !important;
  background: var(--royal-blue, #0029f4) !important;

  .d-icon,
  svg {
    margin-right: 0;
    color: inherit;
  }

  span {
    text-align: center;
    font: inherit;
    color: inherit;
  }

  &:hover {
    color: #fff;
    border: 1px solid var(--royal-blue-hover, #001dab) !important;
    background: var(--royal-blue-hover, #001dab) !important;
  }
}

.btn-primary {
  display: flex !important;
  height: 40px !important;
  padding: 10px 50px !important;
  box-sizing: border-box !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  color: #fff;
  border: 1px solid var(--royal-blue, #0029f4) !important;
  background: var(--royal-blue, #0029f4) !important;

  .d-icon,
  svg {
    margin-right: 0 !important;
    color: inherit !important;
  }

  span,
  a {
    font: inherit;
    color: inherit;
    text-align: center !important;
  }

  &:hover {
    border: 1px solid var(--royal-blue-hover, #001dab) !important;
    background: var(--royal-blue-hover, #001dab) !important;
  }
}

.list-controls #create-topic:hover .d-icon {
  color: #fff !important;
}

.topic-list .topic-list-data {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-left: none !important;
}

.fa.d-icon.d-icon-bars.svg-icon.svg-node {
  color: #fff;
  width: 16px;
}

.widget-button.btn.btn-flat.btn-sidebar-toggle.no-text.btn-icon {
  &:hover {
    background: #fff;
    svg {
      color: #0b074e;
    }
  }
}

#search-button {
  width: 20px;
  height: 20px;

  svg {
    color: #fff;
  }

  &:hover {
    background: #fff;

    svg {
      color: #0b074e;
    }
  }
}

.header-dropdown-toggle.search-dropdown {
  display: flex;
  align-items: center;
}

.sidebar-section-link-prefix.icon {
  svg {
    width: 16px;
    height: 16px;
    color: #0b074e;
  }
}

.sidebar-section-header-caret {
  svg {
    color: #0b074e !important;
  }
}

.sidebar-section-header-text {
  color: var(--grey, #9694af);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-sidebar-toggle {
  button {
    margin-right: 0.2em;
    margin-left: -0.8em;
  }
}

.header-top {
  width: 100%;
  background: #fff;
  height: 38px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 14px 20px 14px 70px;
  box-sizing: border-box;

  padding-left: 12px;
  padding-right: 12px;

  @media (min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 1340px) {
    padding-left: calc(50% - 650px);
    padding-right: calc(50% - 650px);
    justify-content: center;
  }

  &__logo {
    width: 72px;
    height: 20px;
    background-image: url(#{$logo});
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__line {
    margin-left: 30px;
    margin-right: 40px;
    width: 1px;
    height: 24px;
    background: var(--dark-blue, #0b074e);

    @media (max-width: 1340px) {
      display: none;
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;

    @media (max-width: 1340px) {
      display: none;
    }

    &-item {
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: calc(100% - 0.3rem);
        display: block;
        border-bottom: 0.3rem solid var(--yellow-tertiary, #f9d54b);
        width: 100%;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform 0.5s ease-in-out;
      }

      &:hover::after {
        transform: scaleX(1);
      }

      a {
        color: var(--dark-blue, #0b074e);
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
    }
  }
}

.topic-list button.bulk-select {
  svg {
    color: var(--grey, #9694af) !important;
  }
}

.d-header-icons .d-icon {
  color: #fff !important;
}

.discourse-no-touch .d-header-icons .icon {
  &:hover {
    background: #fff !important;

    svg {
      color: #0b074e !important;
    }
  }
}

.d-header-icons {
  gap: 30px;
}

.d-header-icons .icon {
  width: 20px;
  height: 20px;
}

.svg-icon,
.svg-icon-title {
  vertical-align: middle;
}

#topic-title,
.container.posts {
  max-width: 1125px;
}

.container.posts {
  grid-template-columns: 1fr auto;
  grid-gap: 0 20px;
  margin: 0;

  @media (max-width: 924px) {
    grid-gap: 0;
  }

  @media (min-width: 1024px) {
    grid-gap: 0 70px;
  }

  .has-sidebar-page & {
    @media (min-width: 1280px) {
      grid-gap: 0 120px;
    }
  }

  .topic-navigation {
    margin: 0;
  }
}

#topic-title {
  margin: 0 0 20px;

  h1 {
    @include h4;
    margin: 0 0 10px;
    padding: 0;
  }
}

.topic {
  &-post {
    .boxed {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
    }

    .read-state {
      top: 10px;
    }
  }

  &-avatar,
  &-body {
    padding-top: 10px;
    border-top-color: #dbdae4;
  }

  &-avatar {
    flex: 0 0 var(--topic-avatar-width);
    width: var(--topic-avatar-width);

    .post-avatar {
      width: 100%;
      padding-top: 100%;
      position: relative;

      a,
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
      }

      img {
        object-fit: cover;
      }
    }
  }

  &-body {
    flex: 1 1 720px;
    padding-left: 15px;
    padding-bottom: 20px;
    @include body;
    color: var(--medium-grey);

    .cooked {
      padding: 0;
    }

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .moderator &-body .regular > .cooked,
  .deleted &-body .regular > .cooked {
    padding: 1em;
  }

  &-body &-meta-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
    height: 50px;

    .names .username a {
      color: var(--primary);
    }
  }

  &-map {
    margin: 35px 0 0;
    border: 1px solid var(--lightest-grey);
    background: var(--white);

    &:first-child {
      margin-top: 0;
    }

    h3,
    .map li h4,
    .information p {
      margin: 0 0 10px;
      padding: 0;
      font-style: normal;
      font-weight: 400;
      font-size: rem(14);
      line-height: 1;
      text-transform: capitalize;
      color: var(--medium-grey);
    }

    .avatars,
    .links,
    .information {
      padding: 12px 15px 15px;
    }

    section {
      border-top: none;
    }

    .map {
      ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        padding: 12px 15px 15px;
      }

      li {
        &,
        & > a:first-child:last-child {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin: 0;
          padding: 0;
        }

        &.replies,
        &.secondary {
          width: 50px;
        }

        &.last-reply {
          margin-right: 30px;
          color: var(--tertiary);

          .topic-map-post {
            color: inherit;
          }
        }

        &.avatars {
          display: none;
        }

        h4 {
          order: 1;
        }

        .topic-map-post,
        .number,
        .d-icon {
          order: 2;
          margin: 0;
          padding: 0;
          font-style: normal;
          font-weight: 700;
          font-size: rem(16);
          line-height: 1.5;
          text-transform: capitalize;
          color: var(--primary);
        }

        .topic-map-post {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
        }
      }

      .avatar {
        display: block;
        margin: 0;
      }

      &.collapsed {
        .btn {
          border-left: none;
          background: none;

          .svg-icon,
          .svg-icon-title {
            width: 15px;
            height: 8px;
          }
        }
      }
    }

    .information {
      padding: 10px 15px 15px;
      color: #605f71;

      p {
        margin: 0 0 13px;
        padding: 0;
      }
    }

    .toggle-summary .summarization-buttons .top-replies {
      margin-left: 0;
      padding: 9px 25px;
      border: 1px solid var(--tertiary);
      @include body-2;
      text-transform: capitalize;
      color: var(--tertiary);
      background: none;
    }

    .buttons .btn {
      border: none;
      padding: 0 16px;
      color: var(--primary);
      background: none;

      .d-icon {
        width: 18px;
        max-height: 9px;
        height: auto;
      }
    }
  }

  &-above-footer-buttons-outlet.presence {
    margin: 0;
    min-height: 0;
  }

  &-status-info,
  &-timer-info {
    &:empty {
      border: none;
    }
  }

  &-footer-main-buttons,
  &-notifications-button {
    .topic-footer-button {
      padding: 5px 15px;
      height: 40px;
    }

    .btn-default.btn.btn-icon-text {
      padding: 5px 15px;
      height: 40px;
    }

    .btn-default.btn.btn-icon-text:not(.create) {
      border: 1px solid var(--medium-grey) !important;
      color: var(--medium-grey);
      background: none !important;
    }

    .create {
      order: -1;
    }
  }
}

#topic-footer-buttons {
  & + br {
    display: none;
  }

  .topic-footer-main-buttons button,
  .topic-footer-main-buttons details,
  .pinned-button,
  .topic-notifications-button {
    margin: 0 20px 20px 0;
  }

  .topic-notifications-options {
    margin: 0 20px 0 0;
  }

  .topic-notifications-button .reason .text {
    margin: 0;
    @include body-2;
    color: var(--medium-grey);
  }
}

.post {
  &-infos {
    justify-content: flex-end;
    gap: 30px;
    color: var(--grey);
  }

  &-info {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: rem(12);
    line-height: 1.33;

    a {
      .topic-meta-data &,
      & {
        color: inherit;
      }
    }

    & .widget-button {
      padding: 0;
      color: inherit;

      .d-button-label,
      .d-icon {
        color: inherit !important;
      }

      .d-icon {
        width: rem(15);
        height: rem(15);
      }
    }
  }
}

.who-liked,
.who-read {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
  @include body-2;
  line-height: rem(16);

  a {
    margin: 0;

    img.avatar {
      display: block;
      border: none;
      width: rem(16);
      height: rem(16);
    }
  }

  &::after {
    display: none;
  }
}

section.post-menu-area {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.embedded-posts {
  &.top {
    margin-left: calc(15px + var(--topic-avatar-width));
    margin-bottom: 20px;
  }

  &.bottom {
    margin-top: 20px;
  }

  .collapse-up,
  .collapse-down {
    bottom: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--tertiary);
    padding: 6px 8px 7px;
    background: #fff;
    transform: translate(-50%, 0) !important;

    .d-icon {
      width: 15px;
      height: 7px;
    }
  }

  &.top,
  &.bottom {
    border: none;

    .post-link-arrow {
      align-self: flex-start;

      .arrow {
        vertical-align: top;
      }

      .d-icon {
        width: 11px;
        height: 13px;
      }
    }

    .topic-body {
      border: none;
      overflow: visible;
    }

    .reply {
      border: 1px solid var(--primary-low);
      padding: 20px 20px 20px 30px;
    }

    .row {
      .topic-avatar {
        border: none;
        padding: 0;
        margin-right: 15px;
        top: calc(var(--header-offset) + 10px - 0.25em);
      }

      .post-avatar {
      }

      .topic-body {
        border: none;
        padding: 0;
      }

      .cooked {
        margin-left: calc(-15px + var(--topic-avatar-width) * -1);
      }
    }
  }
}

/*
.onscreen-post.replies-above {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-start;
}
*/

.timeline-container {
  .topic-timeline {
    min-width: 127px;

    .timeline-controls {
      margin: 0;
    }

    .timeline-date-wrapper {
      font-family: inherit;
      font-weight: 300;
      font-style: normal;
      font-size: rem(14);
      line-height: 1.28571;
      text-transform: uppercase;
      color: #605f71;

      .start-date,
      .now-date {
        margin: 0;
        color: inherit;
      }
    }

    .timeline-scrollarea {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 5px;
      border-left: 1px solid var(--primary);
    }

    .timeline-handle {
      margin-left: -2px;
      border-radius: 0;
      outline: none;
      width: 5px;
      background: var(--primary);
    }

    .timeline-replies {
      font-weight: 700;
      font-style: normal;
      font-size: rem(16);
      line-height: 1.5;
      white-space: nowrap;
      color: #001ebf;
    }

    .timeline-ago {
      font-weight: 300;
      font-style: normal;
      font-size: rem(14);
      line-height: 1.28571;
      text-transform: uppercase;
      color: #605f71;
    }
  }

  .topic-timeline .timeline-last-read {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-left: -6px;
    transform: translateY(-25px);

    .progress {
      width: 10px;
      color: var(--primary);
    }
  }

  .back-button {
    padding: 0 !important;
    width: 50px !important;
    height: 30px !important;
  }
}

.topic-body .reply-to-tab,
aside.quote .title {
  font-weight: 700;
  font-size: rem(12);
  font-style: normal;
  line-height: normal;
  color: var(--primary);

  img.avatar {
    display: block;
    margin: 0 7px 0 0;
    width: 24px;
    height: 24px;
  }
}

.topic-body .reply-to-tab {
  .d-icon {
    margin-right: 7px;
    width: 21px;
    height: 8px;
  }
}

blockquote,
aside.quote,
aside.onebox {
  margin: 20px 0;
  padding: 15px 25px;
  font-size: rem(16);
  line-height: 1.5;
  color: #605f71;
  background: var(--secondary);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

blockquote {
  border-left: 5px solid var(--primary);
}

aside.quote {
  border-left: 5px solid var(--primary);

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
    border: none;
    padding: 0;
    background: none;

    .quote-controls {
      display: flex;
      justify-content: flex-end;
      flex: 1 1 auto;
      order: 2;
    }
  }

  blockquote {
    margin: 0;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    background: none;
  }
}

aside.onebox {
  .source {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
    border: none;
    padding: 0;
    font-weight: 700;
    font-size: rem(12);
    font-style: normal;
    line-height: normal;
    color: var(--primary);
    background: none;

    img.site-icon {
      display: block;
      margin: 0 7px 0 0;
      width: 24px;
      height: 24px;
    }

    a[href] {
      font: inherit;
      color: inherit;
    }

    &::after {
      content: "";
      flex: 1 1 auto;
    }
  }
}

nav.post-controls {
  margin-right: -5px;

  .actions {
    gap: 20px;

    & > button,
    .double-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0 5px;
      height: rem(30);
      font-weight: 700;
      font-style: normal;
      font-size: rem(12);
      line-height: normal;
      letter-spacing: rem(1);
      text-transform: uppercase;

      .svg-icon,
      .svg-icon-title {
        max-width: 20px;
        width: auto;
        height: 20px;
      }
    }

    .double-button {
      padding: 0;
      justify-content: flex-start;
      align-items: stretch;

      button {
        padding-top: 0;
        padding-bottom: 0;
      }

      button.button-count {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        order: 2;

        &,
        &:not(.my-likes),
        & + .toggle-like {
          margin: 0;
          padding: 0 5px;
        }

        & + .toggle-like {
          padding-right: 0;
        }

        .d-icon {
          padding-left: 0;
          padding-right: 10px;
          order: -1;
        }
      }
    }

    .discourse-no-touch & .fade-out {
      opacity: 1;
    }

    .reply {
      order: -1;

      .d-button-label {
        display: none;
      }
    }
  }

  .show-replies {
    padding: 0;
    @include body-2;

    &:hover,
    &:focus,
    .d-hover {
      background: none;

      .d-icon {
        color: var(--tertiary);
      }
    }
  }
}

.more-topics {
  &__container {
    margin: 100px 0 0;
    padding: 60px 20px;
    max-width: none;
    background: var(--secondary);

    @media (min-width: 1280px) {
      padding: 60px 90px 60px 30px;
    }
  }

  &__list-title {
    margin: 0 0 30px;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    font-size: rem(24);
    line-height: 1.33;
  }
}

.horizontal-overflow-nav__scroll-right .d-icon,
.horizontal-overflow-nav__scroll-left .d-icon {
  color: var(--primary);
}

.user-main {
  .about {
    margin: 0 0 20px;

    .details {
    }

    &,
    &.collapsed-info {
      .details {
        .primary {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 15px;

          .avatar {
            margin: 0;
            width: var(--topic-avatar-width);
            height: var(--topic-avatar-width);
          }

          .user-profile-names {
            &__primary {
              font-weight: 700;
              font-style: normal;
              font-size: rem(16);
              line-height: 1.5;
              text-transform: capitalize;
              color: var(--primary);
            }

            &__secondary {
              margin: 4px 0 0;
              font-weight: 400;
              font-style: normal;
              font-size: rem(12);
              line-height: normal;
              letter-spacing: rem(0.12);
              text-transform: uppercase;
              color: var(--medium-grey);

              &:first-child {
                margin-top: 0;
              }
            }

            &__primary + &__secondary {
              margin-top: 4px;
            }
          }
        }

        .primary-textual {
          padding: 0;
        }

        .controls > ul {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 10px;
          margin: 0;
          padding: 0;

          li {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .controls {
      .btn {
        padding: 8px 15px;
        min-width: 0;
      }
    }
  }
}

.new-user-wrapper {
  border-top: 1px solid var(--lightest-grey);

  .user-navigation {
    border-bottom: 1px solid var(--lightest-grey);

    .nav-pills {
      padding: 0;
      gap: 1px;

      & > li {
        flex: 1 1;

        a,
        button {
          position: relative;
          display: inline-flex;
          justify-content: flex-start;
          align-items: center;
          gap: 15px;
          border: none;
          padding: 13px 19px 13px 20px;
          font-weight: 700;
          font-style: normal;
          font-size: rem(14);
          line-height: 1;
          color: var(--primary);

          @media (min-width: 1441px) {
            justify-content: center;
          }

          .svg-icon {
            opacity: 1;
            margin: 0;
            max-width: 17px;
            width: auto;
            max-height: 17px;
            height: auto;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 3px;
            background: none;
            transition: background 0.3s ease;
          }

          &:hover,
          &:focus {
            border: none;
            color: var(--primary);

            &::after {
              background: var(--quaternary);
            }
          }

          &.active {
            border: none;
            color: var(--primary);

            &::after {
              background: var(--quaternary);
            }
          }
        }
      }
    }
  }

  .user-navigation-secondary .nav-pills {
    & > li {
      flex: 1 0 auto;
    }
  }

  .new-user-content-wrapper {
    .user-navigation {
      border: none;
    }
  }
}

.menu-panel.drop-down {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
}

.user-menu.revamped {
  border: none;
  background: #fff;

  &.menu-panel.slide-in .panel-body {
    max-height: 100vh;
    z-index: 1001;
  }

  .quick-access-panel {
    overflow: auto;
    margin: 0;
    border: none;
    padding: 10px 0;
    width: 307px;
    @include body-2;

    .d-icon {
      color: inherit;
    }

    ul {
      margin: 0;
      padding: 0;
      gap: 1px;
    }

    li {
      margin: 0;
      padding: 0;
      font: inherit;
      color: inherit;
      background: none;

      .d-icon {
        fill: none;
        color: inherit;
      }

      > * {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0 30px !important;
        height: 44px;
        font: inherit;
        line-height: 1;
        color: inherit;
        transition: color 0.3s ease, background 0.3s ease;

        &:hover,
        &:focus,
        &.active {
          color: var(--tertiary);
          background: var(--quaternary);
        }
      }

      &.unread,
      &.pending {
        background: none;

        > * {
          &:not(:hover):not(:focus):not(.active) {
            background-color: var(--tertiary-low);
          }
        }
      }

      .d-icon,
      li:not(.show-all) .d-icon {
        margin: 0 15px 0 0;
        padding: 0;
        width: 15px;
        height: 15px;
      }
    }

    .item-label {
      color: inherit;
    }
  }

  .menu-tabs-container {
    border: none;
    padding: 0;
    background: var(--secondary);
  }

  .tabs-list {
    gap: 1px;

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12.5px;
      width: 52px;
      color: var(--medium-grey);

      &:first-child {
        padding-top: 16px;
      }

      &:last-child {
        padding-bottom: 16px;
      }

      &:hover,
      &:focus,
      &.active {
        color: var(--tertiary);
        background: var(--quaternary);
      }

      .d-icon {
        width: 20px;
        height: 20px;
        color: inherit;
      }

      &#user-menu-button-replies .d-icon {
        width: 22px;
        height: 10px;
      }

      .badge-notification {
        border-radius: rem(7);
        padding: 0 3px;
        min-width: rem(14);
        height: rem(14);
        font-weight: 400;
        font-style: normal;
        font-size: rem(9);
        line-height: rem(14);
        color: #fff;
        background: var(--tertiary);
        text-align: center;
      }
    }
  }

  .panel-body-bottom,
  .empty-state {
    padding: 0 1em;
  }
}

.tippy-box[data-theme="user-tip"] {
  background: var(--secondary);
  color: var(--primary);

  & > .tippy-svg-arrow {
    color: var(--secondary);
  }
}

// FOOTER

.Page-footer {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  width: 100%;

  &-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
    box-sizing: border-box;

    padding-left: 12px;
    padding-right: 12px;

    @media (min-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: 1340px) {
      padding-left: calc(50% - 650px);
      padding-right: calc(50% - 650px);
    }

    &[data-width="full-constrained"] {
      padding-left: 0;
      padding-right: 0;
    }
    width: 100%;
    background: #0b074e;
    color: var(--color-footer-text);

    @media (max-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-columns {
    flex-direction: row;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.8fr;
    align-items: unset;
    gap: 80px;

    @media (max-width: 991px) {
      width: 100%;
      max-width: 1440px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    &_tablet {
      width: 100%;
      gap: 0;
      display: none;
      flex-direction: column;
      align-items: flex-start;

      .Page-footer-socials {
        display: block;
        margin-top: 40px;
      }
    }

    &-container {
      width: 100%;
      display: flex;
      gap: 40px;
      justify-content: space-between;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      display: none;

      &_tablet {
        display: flex;
      }
    }
  }

  &-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:first-child {
      justify-content: space-between;
    }

    &__title {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 0.75rem;
      line-height: 1.167;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #9694af;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    &_margin {
      padding-top: calc(42.22px - 14px);

      @media (max-width: 767px) {
        padding-top: 0;
      }
    }

    &_tablet {
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 40px;
      }
    }

    .FooterNavigationItem_bottom {
      display: none;
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px 30px;

    @media (min-width: 768px) {
      gap: 30px;
    }
  }

  &-navigation {
    .FooterNavigation-items-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__subtitle {
    align-self: flex-start;
    margin: 0 0 15px;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.33;
    color: #fff;
  }

  &__description {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
  }

  &-socials {
    display: none;
    margin-top: 40px;

    @media (min-width: 768px) {
      display: block;
      margin-top: 100px;
    }

    &_mobile {
      display: block;

      @media (min-width: 768px) {
        display: none;
      }
    }

    .SocialBar {
      margin: 0;
    }

    .SocialBar-items-item {
      svg {
        fill: #fff;
      }
    }
  }

  &__button {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    outline: none;
    border: 1px solid #fff;
    padding: 0.563rem 0.938rem;
    width: 100%;
    max-width: unset;
    height: 2.813rem;
    background: transparent;
    transition: ease-in-out 0.5s;
    cursor: pointer;

    span {
      font-weight: 400;
      font-size: 0.9rem;
      line-height: 1.57;
      text-align: center;
      color: #fff;
      transition: ease-in-out 0.5s;
    }

    @media (min-width: 768px) {
      justify-content: flex-start;
      margin-top: 40px;
      width: 13rem;
      height: 2.5rem;
    }

    svg {
      position: absolute;
      right: 15px;
      width: 1.313rem;
      height: 0.375rem;
      transition: ease-in-out 0.5s;

      path {
        transition: ease-in-out 0.5s;
      }
    }

    &:hover {
      border-color: #f9d54b;

      span {
        color: #f9d54b;
      }

      svg {
        path {
          fill: #f9d54b;
        }
      }
    }
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    box-sizing: border-box;

    padding-left: 12px;
    padding-right: 12px;

    @media (min-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: 1340px) {
      padding-left: calc(50% - 650px);
      padding-right: calc(50% - 650px);
    }

    &[data-width="full-constrained"] {
      padding-left: 0;
      padding-right: 0;
    }

    width: 100%;
    gap: 1.625rem;
    background: #f3eff5;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }

    .SocialBar {
      margin: 0;

      &-items {
        display: flex;

        svg {
          fill: var(--color-primary-text);
          height: 15px;
          width: 15px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .FooterNavigation-items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      margin: 0 !important;
      padding: 0 !important;
      width: 100%;
      max-width: 100%;

      @media (min-width: 48rem) {
        flex-direction: row !important;
        align-items: center !important;
        gap: 30px !important;
      }
    }

    .FooterNavigationItem {
      white-space: nowrap;
    }
  }

  .FooterNavigation-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    max-width: 100%;
    list-style: none;
  }

  &-disclaimer {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.57;
    color: #605f71;

    a {
      font: inherit;
      color: inherit;
    }
  }

  &-logo {
    background-image: url(#{$footerLogo});
    background-repeat: no-repeat;
    background-size: contain;
    width: 135px;
    height: 38px;
    margin-bottom: 50px;

    @media (max-width: 768px) {
      margin-bottom: 100px;
    }

    img {
      width: 150px;
      height: auto;
    }
  }

  &[data-footer-slim] {
    padding-top: 30px;
    padding-bottom: 30px;

    .Footer {
      &-contentWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-logo {
        img {
          max-width: 130px;
        }
      }

      &-disclaimer {
        margin-top: 20px;
        font-weight: normal;
        color: var(--color-footer-text);

        a {
          color: var(--color-primary);
        }
      }
    }
  }
}

.FooterNavigation {
  &-items {
    display: flex;
    flex-direction: column;

    &-item {
      width: 100%;
    }
  }
}

.FooterNavigationItem {
  width: 100%;

  a,
  span {
    display: block;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #f9d54b;
    cursor: pointer;
    transition: color 0.5s;

    &:hover {
      color: #b79633;
    }
  }

  &_bottom {
    a,
    span {
      margin-bottom: 0;
      font-size: 0.9rem;
      line-height: 1.57;
      text-decoration: underline;
      color: #0b074e;
      &:hover {
        color: #0029f4;
      }
    }
  }
}

.PagePromoFooter {
  display: flex;
  flex-direction: column;
  max-width: 9.8rem;
  width: 100%;

  @media (max-width: 768px) {
    max-width: 13rem;
  }

  @media (min-width: 768px) {
    max-width: none;
  }

  &__title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;

    a,
    span {
      font: inherit;
      color: inherit;

      &:hover {
        color: #fff;
      }
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px 30px;

    @media (max-width: 768px) {
      gap: 30px;
    }
  }

  &__description {
    margin: 0;
    max-width: 12.5rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
  }

  &__button {
    margin-top: 10px;

    a {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      color: #f9d54b;
      transition: color 0.5s;

      &:hover {
        color: #b79633;
      }
    }
  }

  .PagePromo {
    &-title {
      margin-bottom: 15px;
    }

    &-description {
      margin-bottom: 15px;
    }
  }
}

.SocialBar {
  margin: 10px 0;

  &-items {
    display: flex;
    // grid-gap: 20px;
    align-items: center;
    list-style: none;
    margin: 0 !important;

    &-item {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.SocialLink {
  align-items: center;
  // border: 1px solid var(--color-primary-text);
  // border-radius: 50%;
  // height: 30px;
  // width: 30px;
  // justify-content: center;
  // display: flex;

  svg {
    height: 30px;
    width: 30px;
    fill: #fff;
    transition: opacity ease-in-out 0.5s;

    &:hover {
      opacity: 0.6;
    }
  }
}

// GROUPS

.groups-boxes {
  grid-template-columns: 1fr 1fr 1fr;
}

.group-box-inner {
  min-height: 13.5em !important;
  background: #fff !important;
  padding: 25px 20px 20px 20px !important;
  gap: 20px;
  justify-content: space-between;
}

.group-info-wrapper {
  margin: 0 !important;
}

.group-membership {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  gap: 5px;
}

.group-info {
  color: var(--dark-blue, #0b074e) !important;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
}

.group-description {
  color: var(--medium-grey, #605f71) !important;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 18px;
}

.group-user-count {
  flex-direction: column;
  align-items: center;

  color: var(--dark-blue, #0b074e) !important;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;

  svg {
    font-size: 18.028px !important;
    margin: 0 !important;
  }
}
