#main-outlet-wrapper {
  gap: 0 !important;
  max-width: 100%;
  margin: 0;
  padding-right: 0;
}
.after-header {
  background: url(#{$herobg});
  width: 100%;
  height: 180px;
}

#main-outlet {
  padding-top: 0;
  padding-left: 50px;
  background: #f3eff5;
}

.sidebar-wrapper {
  background: #e8e1eb;
}

.sidebar-footer-container {
  background: #e8e1eb;

  &:before {
    background: #e8e1eb !important;
  }
}

.sidebar-section-link-content-text {
  color: var(--dark-blue, #0b074e);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.topic-list-data {
  span {
    color: var(--grey, #9694af);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}

.topic-list-item,
tr {
  border-bottom: 1px solid var(--grey, #9694af);
}

.raw-topic-link {
  color: var(--dark-blue, #0b074e);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.topic-list-item.visited .topic-list-data a.title:not(.badge-notification) {
  color: var(--dark-blue, #0b074e);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.badge-category-bg {
  border-radius: 0 !important;
}

.topic-list-data .category-name {
  color: var(--dark-blue, #0b074e);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.topic-list-data .number .post-activity {
  color: #000;
  /* h8 */
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.list-controls .combo-box .combo-box-header {
  display: flex;
  padding: 12px;
  align-items: center;
  border: 1px solid var(--royal-blue, #0029f4);

  .select-kit-header-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      fill: var(--royal-blue, #0029f4);
      font-size: 14px;
      font-weight: 900;
      line-height: 12px;
      padding-left: 0;
    }
  }

  .select-kit-selected-name .name {
    color: var(--royal-blue, #0029f4);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }
}

.list-controls .nav-pills > li {
  a {
    color: var(--dark-blue, #0b074e);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
}

.list-controls .nav-pills > li.active {
  a {
    box-shadow: 0px 2px 0 0 var(--yellow-tertiary, #f9d54b) !important;
  }
}

.list-controls .nav-pills > li a:hover {
  box-shadow: 0px 2px 0 0 var(--yellow-tertiary, #f9d54b) !important;
}

.btn-default.btn.btn-icon-text {
  display: flex;
  height: 40px;
  padding: 10px 50px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--royal-blue, #0029f4) !important;
  background: var(--royal-blue, #0029f4) !important;

  svg {
    color: #fff;
    margin-right: 0;
  }

  span {
    color: var(--white, #fff);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }

  &:hover {
    border: 1px solid var(--royal-blue-hover, #001dab) !important;
    background: var(--royal-blue-hover, #001dab) !important;
  }
}

.list-controls #create-topic:hover .d-icon {
  color: #fff !important;
}

.topic-list .topic-list-data {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-left: none !important;
}

.fa.d-icon.d-icon-bars.svg-icon.svg-node {
  color: #fff;
  width: 16px;
}

.widget-button.btn.btn-flat.btn-sidebar-toggle.no-text.btn-icon {
  &:hover {
    background: #fff;
    svg {
      color: #0b074e;
    }
  }
}

#search-button {
  width: 20px;
  height: 20px;

  svg {
    color: #fff;
  }

  &:hover {
    background: #fff;

    svg {
      color: #0b074e;
    }
  }
}

.header-dropdown-toggle.search-dropdown {
  display: flex;
  align-items: center;
}

.sidebar-section-link-prefix.icon {
  svg {
    width: 16px;
    height: 16px;
    color: #0b074e;
  }
}

.sidebar-section-header-caret {
  svg {
    color: #0b074e !important;
  }
}

.sidebar-section-header-text {
  color: var(--grey, #9694af);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
